body{
  margin: 0px 60px;
  background-color: pink;
}

input{
  margin: 4px;
}

.border {
  border-style: inset;
  border-width: 1px;
  margin: 10px;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}